@font-face {
	font-family: "바른히피";
	src: url(/src/styles/바른히피.ttf);
}
@font-face {
	font-family: "NotoSans";
	src: url(/src/styles/NotoSansKR.ttf);
}
@font-face {
	font-family: "SCDream7";
	src: url(/src/styles/SCDream7.otf);
}
@font-face {
	font-family: "넥슨Lv1고딕";
	src: url(/src/styles/넥슨Lv1고딕.otf);
}
:root {
    --font-바른히피: "바른히피";
	--font-NotoSans: "NotoSans";
	--font-SCDream7: "SCDream7";
	--font-넥슨Lv1고딕: "넥슨Lv1고딕";
}

*,
*::before, 
*::after {
	margin: 0; 
	padding: 0;
}
