@font-face {
	font-family: "바른히피";
	src: url(/src/styles/바른히피.ttf);
}
@font-face {
	font-family: "NotoSans";
	src: url(/src/styles/NotoSansKR.ttf);
}
:root {
    --font-바른히피: "바른히피";
	--font-NotoSans: "NotoSans";
}

*,
*::before, 
*::after {
	margin: 0; 
	padding: 0;
}
